html {
  scroll-behavior: smooth;
}

header{
  background-image: url("../img/valparaiso-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
  height:100vh;
}


h1{
    font-family: 'Quicksand', sans-serif;
    font-weight:500;
    color: #000000;
    text-align:center;
    font-size:2em;
    }

.description{
  text-align: justify;
  color: black;
  padding: 20px 20px 20px 20px;
  font-family:  'Quicksand', sans-serif;
  font-weight: 500;
}
p{
text-align: justify;
color: black;
padding: 20px 20px 20px 20px;
font-family: 'Quicksand', sans-serif;
font-weight: 400;
}

footer{
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;

}
nav{
  z-index: 2;
}
